extends default

block content
    h2 Add Student
    form(action="/add_student" method="post")
      label(for="id") ID:
      input(type="text" name="id" required)
      br
      label(for="firstName") First Name:
      input(type="text" name="firstName" required)
      br
      label(for="lastName") Last Name:
      input(type="text" name="lastName" required)
      br
      label(for="birthday") Birthday:
      input(type="date" name="birthday" required)
      br
      input(type="submit" class="btn" value="Add Student")
