extends default

block content
    div.page_content   
        h2.centered Welcome to the website of the New College.
        h4.centered Here you can make an appointment with our advisors, check up scheduled class <br> and add classes to our schedule.
