extends default

block content
    div.page_content   
        h2.centered Welcome to the WhiteBoardRules, curated for teachers.
        h4.centered Here you can view your student roster and add new students.
